#* @vtlvariable name="doc" type="com.xpn.xwiki.api.Document" *# ##
#* @vtlvariable name="bcCurrentDoc" type="com.xpn.xwiki.api.Document" *# ##
## @vtlvariable name="asset" type="org.curriki.xwiki.plugin.asset.Asset" ##
## @vtlvariable name="document" type="com.xpn.xwiki.api.Document" ##
#* @vtlvariable name="xwiki" type="com.xpn.xwiki.api.XWiki" *# ##
#* @vtlvariable name="util" type="com.xpn.xwiki.api.Util" *# ##
#* @vtlvariable name="csm" type="org.curriki.plugin.spacemanager.impl.CurrikiSpaceManager" *# ##
#* @vtlvariable name="sm" type="org.curriki.plugin.spacemanager.impl.CurrikiSpaceManager" *# ##
#* @vtlvariable name="request" type="javax.servlet.http.HttpServletRequest" *# ##
#* @vtlvariable name="response" type="javax.servlet.http.HttpServletResponse" *# ##
#* @vtlvariable name="context" type="com.xpn.xwiki.api.Context" *# ##
#* @vtlvariable name="msg" type="com.xpn.xwiki.web.XWikiMessageTool" *# ##
#* @vtlvariable name="escapetool" type="org.apache.velocity.tools.generic.EscapeTool" *# ##
#* @vtlvariable name="datetool" type="org.apache.velocity.tools.generic.DateTool" *# ##
#* @vtlvariable name="numbertool" type="org.apache.velocity.tools.generic.NumberTool" *# ##
#* @vtlvariable name="searchi2g" type="net.i2geo.xwiki.impl.DefaultSearchI2GXWiki *# ##
##
#if($request.verb)##
#set($t=$xwiki.parseGroovyFromPage("${doc.space}.OAITool"))##
$t.init($context,$xwiki,$request,$response)##
$response.setContentType("text/xml")##
#set($baseURL="http://$xwiki.getXWiki().Param('curriki.system.hostname', 'i2geo.net')/api/oai-pmh")##
#if($t.hasError)##
$response.setStatus($t.statusCode, $t.statusMessage)
<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by $baseURL on $datetool -->
<OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
         http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd">
    <responseDate>$t.date</responseDate>
    <request>$baseURL</request>
    <error code="$t.errorCode">$t.errorText</error>
</OAI-PMH>
##
## ----------------------- no error -------------------------------------
##
## ======================================================================
#elseif($t.verb=="Identify")
## ======================================================================
##
{pre}
<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by $baseURL on $datetool -->
<OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
         http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd">
    <responseDate>$t.date</responseDate>
    <request verb="Identify">$baseURL</request>
    <Identify>
        <repositoryName>I2Geo repository</repositoryName>
        <baseURL>$baseURL</baseURL>
        <protocolVersion>2.0</protocolVersion>
        <adminEmail>webmaster@i2geo.net</adminEmail>
        <earliestDatestamp>2005-01-01T12:00:00Z</earliestDatestamp>
        <deletedRecord>no</deletedRecord>
        <granularity>YYYY-MM-DDThh:mm:ssZ</granularity>
        <description>
                <oai-identifier
                    xmlns="http://www.openarchives.org/OAI/2.0/oai-identifier"
                    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                    xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai-identifier http://www.openarchives.org/OAI/2.0/oai-identifier.xsd">
                <scheme>oai</scheme>
                <repositoryIdentifier>i2geo.net</repositoryIdentifier>
                <delimiter>:</delimiter>
                <sampleIdentifier>oai:Coll_polx:test</sampleIdentifier>
            </oai-identifier>
        </description>
    </Identify>
</OAI-PMH>
{/pre}
##
## ======================================================================
#elseif($t.verb=="ListMetadataFormats")
## ======================================================================
##
{pre}
<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by $baseURL on $datetool -->
<OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd">
    <responseDate>$t.date</responseDate>
    <request verb="ListMetadataFormats" #if($t.hasIdentifier)identifier="$t.identifier"#end>$baseURL</request>
    <ListMetadataFormats>
        <!-- not yet <metadataFormat>
            <metadataPrefix>oai_dc</metadataPrefix>
            <schema>http://www.openarchives.org/OAI/2.0/oai_dc.xsd</schema>
            <metadataNamespace>http://www.openarchives.org/OAI/2.0/oai_dc/
            </metadataNamespace>
        </metadataFormat> -->
        <metadataFormat>
            <metadataPrefix>i2glom</metadataPrefix>
            <schema>http://i2geo.net/ontologies/lomschema/lom-i2g-strict.xsd</schema>
            <metadataNamespace>http://ltsc.ieee.org/xsd/LOM</metadataNamespace>
        </metadataFormat>
    </ListMetadataFormats>
</OAI-PMH>
{/pre}
##
## ======================================================================
#elseif($t.verb=="ListSets")
## ======================================================================
##
{pre}
<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by $baseURL on $datetool -->
<OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
         http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd">
    <responseDate>$t.date</responseDate>
    <request verb="ListSets">$baseURL</request>
    <error code="noSetHierarchy">This repository does not support sets</error>
</OAI-PMH>
{/pre}
##
## ======================================================================
#elseif($t.verb=="ListIdentifiers")
## ======================================================================
##
{pre}
<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by $baseURL on $datetool -->
<OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd">
    <responseDate>$t.date</responseDate>
    <request verb="ListIdentifiers"
             #if($request.from)from="$t.from" #end
             #if($request.until)until="$t.until" #end
             >$baseURL</request>
    <ListIdentifiers>
        #foreach($item in $t.items())
            <header>
                <identifier>$item.identifier</identifier>
                <datestamp>$item.date</datestamp>
            </header>$t.throttle()
        #end
        #* #if($t.moreToCome)
            <resumptionToken expirationDate="2002-06-01T23:20:00Z"
                             completeListSize="6"
                             cursor="0">xxx45abttyz</resumptionToken>
        #end *#
    </ListIdentifiers>
</OAI-PMH>
{/pre}
##
## ======================================================================
#elseif($t.verb=="GetRecord")
## ======================================================================
##
{pre}
<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by $baseURL on $datetool -->
<OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd">
    <responseDate>$t.date</responseDate>
    <request verb="GetRecord" identifier="$t.identifier"
             metadataPrefix="$t.metadataPrefix">$baseURL</request>
    <GetRecord>
        <record>
            <header>
                <identifier>$t.identifier</identifier>
                <datestamp>$t.itemDate</datestamp>
            </header>
            <metadata>
                #if($t.metadataPrefix=="i2glom")
                #includeForm("${doc.space}.LOMMacro")
                #lom($t.asset)
                #end
            </metadata>
        </record>
    </GetRecord>
</OAI-PMH>
##
## ======================================================================
#elseif($t.verb=="ListRecords")
## ======================================================================
##
{pre}
<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by $baseURL on $datetool -->
<OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd">
    <responseDate>$t.date</responseDate>
    <request verb="ListRecords"
             #if($t.queryToResume) resumptionToken="$t.queryToResume.key"#end
             #if($request.from)from="$t.from" #end
             #if($request.until)until="$t.until" #end
             metadataPrefix="$t.metadataPrefix">$baseURL</request>
    #if($t.metadataPrefix=="i2glom")#includeForm("${doc.space}.LOMMacro")#end
    <ListRecords>
        #foreach($record in $t.records())
        <record>
            <header>
                <identifier>$record.identifier</identifier>
                <datestamp>$record.date</datestamp>
            </header>
            <metadata>
                #if($t.metadataPrefix=="i2glom")
            #lom($record.asset)
            #end
            </metadata>
        </record>
            $t.throttle()##
        #end
        #if($t.nextQuery)
            <resumptionToken expirationDate="$t.nextQuery.expirationDate" cursor="$t.nextQuery.cursor"
                             completeListSize="$t.nextQuery.idList.size()">$t.nextQuery.key</resumptionToken>
        #elseif($t.queryToResume)
            <resumptionToken ## expirationDate="$t.dateFormat.format($datetool.$t.nextQuery.created + $t.MAX_RESUMPTION_AGE)"
                    completeListSize="$t.queryToResume.idList.size()"/>
        #end
    </ListRecords>
</OAI-PMH>
#end
#else## if($request.action)
<html><head><title>i2geo's OAI PMH</title>
    <link href="http://i2geo.net/xwiki/bin/skin/skins/curriki8/stylebase.css" rel="stylesheet" type="text/css"  />
    <link href="http://i2geo.net/xwiki/bin/skin/skins/curriki8/style.css" rel="stylesheet" type="text/css"  />
    <link href="/xwiki/skins/curriki8/style2.css" rel="stylesheet" type="text/css"  />

</head>
<body id="body" class="curriki" >
<div id="main"><div id="shadow-right"><div id="right-panel"><div id="content" style="height:90%">
<h1>i2geo's OAI PMH</h1>

This is the <a href="http://www.openarchives.org/pmh/">OAI-PMH</a> end-point for the <a href="http://i2geo.net/">i2geo repository</a>.
Since no <tt>verb</tt> parameter was provided in this request, this small explanatory text is provided.

You may consider using a few such links to see the XML results rendered in your browser
but this URL is normally designed to be provided to an OAI-PMH consumer tool.

* <a href="http://i2geo.net/api/oai-pmh?verb=ListRecords&metadataPrefix=i2glom">first 100 records with <tt>ListRecords</tt></a>
* <a href="http://i2geo.net/api/oai-pmh?verb=ListIdentifiers">first 100 identifiers using <tt>ListIdentifiers</tt></a>
* <a href="http://i2geo.net/api/oai-pmh?verb=GetRecord&metadataPrefix=i2glom&identifier=oai:Coll_ChristianMercat:Distributivitedelamultiplicationsurladdition">example metadata record using <tt>GetRecord</tt></a> ##
   of the resource <a href="http://i2geo.net/xwiki/bin/view/Coll_ChristianMercat/Distributivitedelamultiplicationsurladdition">Distributivité de la multiplication sur l'addition</a>
* <a href="http://i2geo.net/api/oai-pmh?verb=Identify">show the profile of the repository using <tt>Identify</tt></a>

This endpoint currently delivers a single metadata prefix, <tt>i2glom</tt>, documented in the
<a href="http://i2geo.net/About/Metadata">description i2geo's metadata application profile</a>
and has been conceived within the OpenDiscoverySpace project.
## <img src="http://i2geo.net/xwiki/skins/curriki8/logo_i2g.png" title="i2geo" alt="i2geo" width="150" style="align:right; margin-left:2em;">

    For more information, please contact <a href="mailto:paul@cermat.org">paul@cermat.org</a> or
report bugs on <a href="http://youtrack.i2geo.net/youtrack/issues/IG">i2geo's youtrack</a>.

<i>Paul Libbrecht, 2013-01-30</i>
</div></div></div></div>
</body></html>
#end