#* @vtlvariable name="doc" type="com.xpn.xwiki.api.Document" *#
## @vtlvariable name="asset" type="org.curriki.xwiki.plugin.asset.Asset"
## @vtlvariable name="document" type="com.xpn.xwiki.api.Document"
#* @vtlvariable name="xwiki" type="com.xpn.xwiki.api.XWiki" *# ##
#* @vtlvariable name="util" type="com.xpn.xwiki.api.Util" *# ##
#* @vtlvariable name="csm" type="org.curriki.plugin.spacemanager.plugin.CurrikiSpaceManagerPluginApi" *# ##
#* @vtlvariable name="sm" type="org.curriki.plugin.spacemanager.plugin.CurrikiSpaceManagerPluginApi" *# ##
#* @vtlvariable name="request" type="javax.servlet.http.HttpServletRequest" *# ##
#* @vtlvariable name="context" type="com.xpn.xwiki.api.Context" *# ##
#* @vtlvariable name="msg" type="com.xpn.xwiki.web.XWikiMessageTool" *# ##
#* @vtlvariable name="as" type="org.curriki.plugin.activitystream.plugin.CurrikiActivityStreamPluginApi" *# ##
#* @vtlvariable name="escapetool" type="org.apache.velocity.tools.generic.EscapeTool" *# ##
#* @vtlvariable name="event" type="com.xpn.xwiki.plugin.activitystream.plugin.ActivityEvent" *# ##
#* @vtlvariable name="user" type="java.lang.String" *###

1 Spam Eradicate

This page makes tools available to eradicate spammers.

Enter a username (without XWiki. in front) and press return to see tools appear:

<form action="$doc.name" method="GET">
    <input name="username" value="$!request.username" type="text">
</form>


#if("$!request.username"!="" || true)
    #set($userName=$request.username)<!-- userName = $userName -->
    #if($userName.startsWith("XWiki."))#set($userName=$userName.substring(6))#end
    #set($userDoc=$xwiki.getDocument("XWiki.$userName"))
<!-- userDoc is $userDoc of version $!userDoc.getVersion(); isNew? $userDoc.isNew() -->
    #if(!$userDoc.isNew())
        #set($whereHql = ", BaseObject as obj where doc.fullName=obj.name AND obj.className='CurrikiCode.AssetClass' AND doc.creator='XWiki.${userName}' AND doc.web != 'AssetTemp' AND doc.name != 'Favorites' AND doc.name != 'WebHome' AND doc.name != 'WebPreferences'")
    <!-- query: $whereHql -->
        #set($assetsOfUser=$xwiki.searchDocuments($whereHql,1000,0))

        #set($whereHql = ", BaseObject as obj where doc.fullName=obj.name AND obj.className='XWiki.ArticleClass' AND doc.creator='XWiki.${userName}'")
    <!-- query: $whereHql -->
        #set($blogsOfUser=$xwiki.searchDocuments($whereHql,1000,0))

        #warning("Warning: if requested to use another browser, please do so using a browser where you are not logged in since spammers are also virus-carriers and their contributions may contain code that reads your cookie (that enables you to be admin) and sends it to their own servers.")

    * <a href="http://i2geo.net/xwiki/bin/saveandcontinue/XWiki/${userName}?xcontinue=%2Fxwiki%2Fbin%2Fedit%2FXWiki%2F${userName}%3Feditor%3Dobject&XWiki.XWikiUsers_0_active=0&comment=inactive" target="_blank">mark user as inactive</a>
        #if($assetsOfUser && !$assetsOfUser.isEmpty())
        * now delete each of the Blog entries and resources
        ** this user has $assetsOfUser.size() resource contributions  <a  target="_blank" href="/xwiki/bin/view/MyCurriki/Contributions?user=XWiki.$userName" onclick='return false;'>see contributions in another browser</a><br>)
            #foreach($a in $assetsOfUser)##
            *** <a target="_blank" href="/xwiki/bin/delete/$a.replace('.','/')?confirm=1">delete $a</a>
            #end
        ** there was one, <a target="_blank" href="/xwiki/bin/delete/Coll_$userName/WebPreferences?confirm=1">delete web-preferences</a> and empty trash, same with
        <a target="_blank" href="/xwiki/bin/delete/Coll_$userName/WebHome?confirm=1">delete WebHome</a>.
        #else
        * no resource contributions
        #end

        #if($blogsOfUser && !$blogsOfUser.isEmpty())
        ** $blogsOfUser.size() blog entries (<a target="_blank" href="/xwiki/bin/view/MyCurriki/Blog?user=XWiki.$userName" onclick='return false;'>see list in another browser</a>)
            #foreach($b in $blogsOfUser)##
            *** <a target="_blank" href="/xwiki/bin/delete/$b.replace('.','/')?confirm=1">delete $b</a>
            #end
        ** there was one, <a target="_blank" href="/xwiki/bin/delete/Blog_$userName/WebPreferences?confirm=1">delete web-preferences</a> and empty trash, ##
        same with <a target="_blank" href="/xwiki/bin/delete/Blog_$userName/WebHome?confirm=1">delete WebHome</a>.
        #else
        * no blog contributions.
        #end

    * <a target="_blank" href="/xwiki/bin/delete/XWiki/$userName?confirm=1">delete user then empty trash</a>
    * note that there is no way currently to track all the contributions inside groups for example. But they're uncommon.
    #else
    * No user of this name ($request.username)
    #end
#end